*{
    font-family: 'Megrim'!important;, cursive!important;

}

#canvas_boom{
    position:fixed;
    z-index: -1;
}

#todo_title{
    display: inline-block;
    align-self: center;
    padding: .3em;
    font-family: 'Megrim'!important;, cursive!important;
    user-select: none;
    /*transform: translate(50%,50%);*/
    color: rgba(255,255,255,.68);
    border: .075em solid rgba(255,255,255,.1);
}

#main{
    margin: 0 5% 0 5%;
}

footer{
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}



